#gallery-blob {
    position: absolute;
    background-color: white;
    background: linear-gradient(
        #b614f1,
        rgb(255, 166, 0)
    );
    width: 30%;
    height: 40%;
    left: 7%;
    top: 60%;
    z-index: -3;
    border-radius: 50%;
    opacity: 60%;
    animation: rotate 20s infinite;
    filter: blur(200px);
}