.generate {
    width: 80%;
    height: 50rem;
    background-color: #ffffff0a;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

.generate > h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}

.generate > button {
    position: absolute;
    top: 70%;
}

.generate > #gallery-blob{
    animation: rotate 10s infinite;
    width: 40%;
    filter: blur(400px);
}