.medium-zoom-image--opened {
    object-fit: contain;
}


.post-card {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: none;
}

.post-card > #blob{
    filter: blur(300px);
}

.post-card > img{
   width: 100%;
   max-width: 80vw;
   max-height: 70vh;
   object-fit: contain;
}

.post-info {
    font-family: "Judson", serif;
}

.post-info > h1 {
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
}

.post-info > p {
    font-size: large;
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.post-info > h2 {
    font-size: large;
    font-weight: 500;
}

.post-info > p > button {
    background: linear-gradient(
        to right,
        #8b94ee,
        #8b94ee
    );
    border: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;
    font-family: "Judson", serif;
}

.post-info > p > button > i {
    transform: translateY(10%);
}

.post-info > p > #username {
    transform: translateX(-5%);
}

.divider {
    content: "";
    /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0) 0.1%,
    #f1c4db, 
    #f1c4db, 
    #884cce,
    #884cce,
    #f1c4db,
    #f1c4db,
    #884cce,
    black 99.9%
    ) 1;
    width: 100%;
}

.comment-section {
    width: 100%;
    margin-top: 1rem;
}

.commenter {
    display: flex;
    font-family: "Inter", sans-serif;
    gap: 0.5rem;
    color: #ece1f8;
}

.commenter > input{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    color: #ece1f8;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.commenter > input::placeholder{
    color: #ece1f8;
}

.comment {
    font-family: "Inter", sans-serif;
    color: #e5cdffcc;
    padding: 1rem;
}

.comment-section1 {
    margin-top: 2rem;
}