

.logout-area {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}


.logout-area > a {
    width: 100%;
    
}

.logout-area > a:focus {
    width: 100%;
    outline: 2px solid blue;
    
}

#logout-btn {
    width: 100%;
    color: rgba(255, 0, 0, 0.5);
    border: solid 1px rgba(255, 0, 0, 0.5);
    background-color: black;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    transition: 0.3s;
    font-family: "Judson", serif;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#logout-btn:hover{
    border: solid 1px red;
    color: red;
}

#logout-btn > span {
    display: none;
}

#logout-btn:hover > span{
    display: block;
}