a {
  text-decoration: none;
  width: fit-content;
}

button {
    width: fit-content;
    border: none;
    padding: 1.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: black;
    background: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

button:hover{
    background: #884cce;
    box-shadow: 0px 0px 20px 2px #884cce;
}

button:hover::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 500px;
    background: linear-gradient(
        to right,
        #884cce,
        #e79075,
        #eec6ba,
        white,
        #eec6ba,
        #e79075,
        #884cce
    );
    animation: animate 4s linear infinite;
    z-index: -1;
}

button:hover::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(255, 255, 255);
    z-index: -1;
}


  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }