.footer {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Judson", serif;
}

.footer > img {
    height: 50px;
}

.footer > h2 {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.footer > p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}