.navbar{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.navbar-wrapper{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.navbar-wrapper > h1 {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.navbar-wrapper > ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    font-size: large;
    cursor: pointer;
}

.navbar-wrapper > ul > a {
    font-family: "Judson", serif;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navbar-wrapper > ul > a:after {
    display: block;
    content: '';
    padding: 3px;
    border-bottom: solid 2px #fff;
    transform: scaleX(0.4);
    transition: transform 0.5s ease-in-out
}

.navbar-wrapper > ul > a:hover:after { 
    transform: scaleX(1);
}