.navbar{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.navbar-wrapper{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

#divulge {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#logo{
    height: 50px;
    transform: translateY(10%);
    cursor: pointer;
}

.navbar-wrapper > ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
    font-size: large;
    cursor: pointer;
}

.navbar-wrapper > ul > a {
    font-family: "Judson", serif;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.navbar-wrapper > ul > a:after {
    display: block;
    content: '';
    padding: 3px;
    border-bottom: solid 2px #fff;
    transform: scaleX(0.4);
    transition: transform 0.5s ease-in-out
}

.navbar-wrapper > ul > a:hover:after { 
    transform: scaleX(1);
}

#hamburger{
    display: none;
    height: 50px;
}

#hamburger > img {
    height: 50px;
}

#user-icon {
    transform: translateY(-10%);
}

@media (max-width: 800px) {
    #hamburger {
        display: block;
    }
    .navbar-wrapper > ul{
        display: none;
    }
}

#user-icon {
    transform: translateY(5%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    background-color: #000000;
   }
   
   .modal.show {
    display: block;
    transform: translateX(0);
   }
   
   .modal-content {
    font-family: "Azeret Mono", monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: auto;
    margin-top: 10rem;
   }

   .modal-content a {
    margin: 0.5rem;
   }

   .modal-content p {
    background-color: white;
    color: black;
    font-family: "Azeret Mono", monospace;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 5rem;
   }
   
   .close {
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    float: right;
    font-size: 5rem;
    cursor: pointer;
   }